@inject IOptions<ProductInfo> Product
@{
    Layout = "_LayoutBase";
}

@section header
{
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">@Product.Value.Title</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">@L["Home"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-page="/Programs/Index">@L["Programs"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-page="/Admissions/Index">@L["Admissions"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-page="/Costs/Index">@L["Costs"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-page="/EconomicAid/Index">@L["Financial Aid"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-page="/CampusLife/Index">@L["Campus Life"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Student" asp-page="/Index">@L["Student"]</a>
                    </li>
                    @if(this.User.IsInRole("Teachers"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Teacher" asp-page="/Index">@L["Teacher"]</a>
                        </li>
                    }
                </ul>
                <partial name="_SelectLanguagePartial" />
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
}

@RenderBody()

@section Heads
{
    @await RenderSectionAsync("Heads", false)
}
@section Scripts
{
    @await RenderSectionAsync("Scripts", false)
}