@using Microsoft.AspNetCore.Authentication
@inject IHostEnvironment Env
@if (Env.IsDevelopment())
{
    <!-- 以下部分是调试面板，在本地开发调试期间显示。 -->
    <hr />
    <div class="card card-sm border-blue">
        <div class="card-header">
            <h1>Debug Panel</h1>
        </div>
        <div class="card-body">
            <h2>Useful Links</h2>
            <ul class="list-inline">
                <li class="list-inline-item">
                </li>
            </ul>
            <h2>Route Data</h2>
            <ul class="list-inline">
                @foreach (var routeValue in ViewContext.RouteData.Values)
                {
                    <li class="list-inline-item">["@(routeValue.Key)"] = "@(routeValue.Value)"</li>
                }
            </ul>
            <h2>Access user</h2>
            @if (User.Identity!.IsAuthenticated)
            {
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var claim in User.Claims)
                        {
                            <tr>
                                <td>@claim.Type</td>
                                <td>@claim.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Current user is not authenticated.</p>
            }

            <h2>Tokens</h2>
            @if (User.Identity!.IsAuthenticated)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>access_token</td>
                            <td style="word-break:break-all;">
                                <code>@(await Context.GetTokenAsync("access_token"))</code>
                            </td>
                        </tr>
                        <tr>
                            <td>id_token</td>
                            <td style="word-break:break-all;">
                                <code>@(await Context.GetTokenAsync("id_token"))</code>
                            </td>
                        </tr>
                        <tr>
                            <td>refresh_token</td>
                            <td style="word-break:break-all;">
                                <code>@(await Context.GetTokenAsync("refresh_token"))</code>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <p>Tokens not found.</p>
            }
        </div>
    </div>
}