@page
@model AdmissionsPortalWebApp.Pages.Programs.IndexModel
@{
    ViewBag.Title = SL["Programs"];
}

@section breadcrumb {
    <li class="breadcrumb-item active" aria-current="page">@SL["Programs"]</li>
}

<h1>@SL["Programs"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plan in Model.Plans)
        {
            <tr>
                <td><a asp-page="Detail/Index" asp-route-id="@plan.Id">@plan.Name</a></td>
                <td>
                    <a asp-page="Detail/Index" asp-route-id="@plan.Id">Learn more</a>
                </td>
            </tr>
        }
    </tbody>
</table>