@page
@model             DetailModel
@{
}
<h1>Overview</h1>
<dl>
    <dt>Visa Number</dt>
    <dd>@this.Model.Data.Visa.VisaNumber</dd>
    <dt>Category</dt>
    <dd>@this.Model.Data.Visa.Category</dd>
    <dt>Entries</dt>
    <dd>@this.Model.Data.Visa.Entries</dd>
    <dt>Enter Before</dt>
    <dd>@this.Model.Data.Visa.EnterBefore</dd>
    <dt>Duration Of Each Stay</dt>
    <dd>@this.Model.Data.Visa.DurationOfEachStay</dd>
    <dt>Issue Date</dt>
    <dd>@this.Model.Data.Visa.IssueDate</dd>
    <dt>Issued At</dt>
    <dd>@this.Model.Data.Visa.IssuedAt</dd>
    <dt>Full Name</dt>
    <dd>@this.Model.Data.Visa.FullName</dd>
    <dt>Birth Date</dt>
    <dd>@this.Model.Data.Visa.BirthDate</dd>
    <dt>Passport Number</dt>
    <dd>@this.Model.Data.Visa.PassportNumber</dd>
    <dt>Remarks</dt>
    <dd>@this.Model.Data.Visa.Remarks</dd>
</dl>

<h1>Passport Summary</h1>
@if(this.Model.Passport != null)
{
    <dl>
        <dt>Passport Number</dt>
        <dd>@this.Model.Passport.Passport.PassportNumber</dd>
        <dt>Type</dt>
        <dd>@this.Model.Passport.Passport.Type</dd>
        <dt>Country Code</dt>
        <dd>@this.Model.Passport.Passport.CountryCode</dd>
        <dt>Date Of Issue</dt>
        <dd>@this.Model.Passport.Passport.DateOfIssue</dd>
        <dt>Date Of Expiration</dt>
        <dd>@this.Model.Passport.Passport.DateOfExpiration</dd>
    </dl>
    <a asp-page="/Passports/Detail" asp-route-id="@this.Model.Passport.Id">More detail...</a>
}
else
{
    <p class="alert alert-danger">
        The related passport not found. <a asp-page="/Passports/Create">Create one</a>.
    </p>
}

<h1>Attachments</h1>


    <a asp-page="Delete" asp-route-id="@this.Model.Data.Id" class="btn btn-danger">Delete VISA</a>